@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  color: #000;
  width: 100%;
  background-color: #e7dacd;
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px 0px;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 0 20px #fff;
}
.header__block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 10px;
  padding: 0 5px;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header__list a {
  display: inline-block;
  opacity: 0;
  animation: slideFORtop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.header__itemLink {
  padding: 10px;
  transition: all 0.5s;
}
.header__itemLink:hover {
  transition: all 0.5s;
  box-shadow: 0 0 20px #fff;
  background-color: #fff;
  color: #000;
}
.header__contactsBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: slideFORright 1s ease forwards;
  position: relative;
  z-index: 22;
}
.header__contactVK {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__VKlink svg {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #000000;
  transition: 0.5s;
  color: #000;
}
.header__VKlink svg:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s;
}
.header__contactInsta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header svg {
  width: 30px;
  height: 30px;
}

@keyframes slideFORtop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFORright {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.header__burgerBlock {
  position: absolute;
  z-index: 20;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #e7dacd;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  transition: 1s;
}
.header__burgerlist {
  text-align: center;
}
.header__item {
  padding-bottom: 20px;
}
.header__burger-ico {
  cursor: pointer;
  position: relative;
  background-color: #000;
  width: 30px;
  height: 3px;
  box-shadow: 0 0 5px #000;
}
.header__burger-ico::after {
  content: "";
  position: absolute;
  top: -10px;
  background-color: #000;
  width: 30px;
  height: 3px;
  box-shadow: 0 0 5px #000;
}
.header__burger-ico::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #000;
  width: 30px;
  height: 3px;
  box-shadow: 0 0 5px #000;
}
.header__burger-icoblock {
  display: none;
  position: relative;
  z-index: 25;
  padding: 15px 0;
}

.blocks {
  position: relative;
  top: 0;
  padding-top: 100px;
}
.blocks__title {
  background: url(../img/4JLweDEwq30.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 29%;
}
.blocks__head {
  opacity: 0;
  padding-left: 50px;
  -moz-text-align-last: left;
       text-align-last: left;
  font-weight: 900;
  font-size: 70px;
  line-height: 110%;
  color: #baa192;
  animation: slideFORleft 1s ease forwards;
  padding-top: 20px;
}
.blocks__text {
  padding-left: 10px;
  padding-top: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  max-width: 49%;
  animation: slideFORleft 1s ease forwards;
}
.blocks__back {
  display: none;
}

.title__items {
  padding: 100px 0;
  background-color: #ffffff;
}
.title__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title__item {
  text-align: center;
  max-width: 300px;
}
.title__texthead {
  padding-top: 25px;
}
.title__text {
  padding-top: 10px;
}

.title__item svg {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

@keyframes slideFORleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.example__header {
  padding-top: 60px;
}
.example__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.example__buttonBlock {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 60px;
}
.example__button1 {
  transition: all 0.5s;
}
.example__button1 a {
  color: #aa0000;
}
.example__button1:hover {
  transition: all 0.5s;
  background-color: #000000;
}
.example__button1:hover .example__button-link {
  color: #ffffff;
  box-shadow: 0 0 20px #000000;
}
.example__button2:hover {
  transition: all 0.5s;
  background-color: #000000;
}
.example__button2:hover .example__button-link {
  color: #ffffff;
  box-shadow: 0 0 20px #000000;
}
.example__button-link {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 152%;
  color: #000;
  transition: all 0.5s;
}
.example__button2 {
  transition: all 0.5s;
}

.example__cant {
  height: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.blocks__service {
  background-color: #fff;
}

.service__header {
  padding-top: 60px;
}
.service__cant {
  padding-top: 50px;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-self: center;
  padding-bottom: 60px;
  text-align: center;
  gap: 20px;
  position: relative;
}
.service__one {
  position: relative;
  box-shadow: 0 0 5px #000;
  transition: 0.5s;
}
.service__one:hover {
  box-shadow: 0 0 20px #000;
  transition: 0.5s;
  transform: scale(1.08);
}
.service__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.service__item-head {
  color: #000;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 16px;
}
.service__item-more {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
}
.service__item-more:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
  box-shadow: 0 0 10px #ffffff;
}
.service__text {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 50%;
}
.service__text p {
  padding-left: 10px;
  text-shadow: 0 0 10px #000;
  font-size: 18px;
  padding-bottom: 30px;
}

.blocks__book {
  background-color: #e7dacd;
}

.book__head {
  padding-top: 60px;
}
.book__forms {
  text-align: center;
}
.book__name {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  fill: #000;
}
.book__name-link {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}
.book__email {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8px;
  fill: #000;
}
.book__email-link {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}
.book__buttons {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.book__but {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  font-weight: 700;
  font-size: 20px;
  line-height: 152%;
  color: white;
  transition: all 0.5s;
}
.book__but:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
  box-shadow: 0 0 20px #fff;
}

input {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 10px #fff;
  width: 100%;
  color: #000000;
}

label {
  padding-bottom: 10px;
  color: #000;
}

svg {
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
}

.contancts__head {
  padding-top: 60px;
}
.contancts__list {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.contancts__item {
  border: 1px solid white;
  color: #000;
  box-shadow: 0 0 10px #fff;
  width: 100%;
  padding: 20px 0;
}
.contancts__item svg {
  width: 50px;
  height: 50px;
}
.contancts__number {
  padding-top: 20px;
  display: block;
  text-shadow: 0 0 5px #000000;
}

.footer__block {
  background: #251D1A;
  padding: 60px 0;
}
.footer__block .footer__VKlink {
  color: #fff;
}
.footer__block .footer__VKlink svg {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  transition: 0.5s;
}
.footer__block .footer__VKlink svg:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}

.footer__contactsBlock {
  display: flex;
}

.footer__contactsBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about__header {
  padding-top: 60px;
}
.about__content {
  color: #000;
  padding-top: 20px;
}

.reviews__header {
  padding-top: 60px;
}
.reviews__content {
  color: #000;
  padding-top: 20px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-self: center;
  padding-bottom: 60px;
  text-align: center;
  gap: 30px;
  position: relative;
}
.gallery__item-head {
  color: #000;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 16px;
  text-align: center;
}
.gallery__one {
  position: relative;
  box-shadow: 0 0 5px #000;
  transition: 0.5s;
}
.gallery__one:hover {
  box-shadow: 0 0 20px #000;
  transition: 0.5s;
  transform: scale(1.08);
}
.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery__item-more {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
}
.gallery__item-more:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
  box-shadow: 0 0 10px #ffffff;
}

.bottom-hide {
  bottom: 0%;
  opacity: 0;
}

.previews__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.previews__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@font-face {
  font-family: Stolzl;
  src: url(../fonts/ofont.ru_Stolzl.ttf);
}
@font-face {
  font-family: ClassicaTwo;
  src: url(../fonts/Classica\ Two.ttf);
}
@font-face {
  font-family: KonkordRetro;
  src: url(../fonts/Konkord-Retro.ttf);
}
@font-face {
  font-family: scriptorama;
  src: url(../fonts/scriptorama.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #e7dacd;
  color: #EFE7E2;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Roboto Condensed";
  font-family: Stolzl;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

._cont {
  max-width: 1200px;
  margin: 0 auto;
}

.headerall {
  text-align: center;
  color: #000;
}
.headerall__head {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}
.headerall__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.blocks {
  padding: 100px 5px;
}

.hidden {
  top: -300px;
  transition: 1s;
}

.none {
  display: none;
}

.previewBlock {
  grid-template-columns: repeat(6, 1fr);
}

.previewItem {
  transform: scale(1);
}

@media (max-width: 780px) {
  .header__navBlock {
    display: none;
  }
  .header__burger-icoblock {
    display: block;
  }
  .service__list,
  .gallery__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .blocks__head {
    font-size: 30px;
  }
  .example__buttonBlock {
    flex-direction: column;
    align-items: center;
  }
}