.footer {
    

    // .footer__block

    &__block {
        background: #251D1A;
        padding: 60px 0;
        .footer__VKlink{
            color: #fff;
        }
        .footer__VKlink svg{
            width: 30px;
            height: 30px;
            border-radius: 10px;
            border: 1px solid#ffffff;
            transition: 0.5s;
        }
        .footer__VKlink svg:hover{
            background-color: #fff;
            color: #000;
            transition: 0.5s;
        }
    }
}
.footer__contactsBlock{
    display: flex;
}
.footer {

    // .footer__contactsBlock

    &__contactsBlock {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .footer__contactVK

    &__contactVK {

    }

    // .footer__VKlink

    &__VKlink {
    }

    // .footer__contactInsta

    &__contactInsta {
    }
}

