.gallery {
    overflow: hidden;
    // .gallery_block

    &__block {
        width: 100%;
        height: 100%;
    }

    // .gallery__list
    &__list {
        padding-bottom: 10px;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // // grid-template-columns: repeat(6, 1fr);
        // align-items: flex-end;
        // align-self: flex-end;
        // padding-bottom: 60px;
        // text-align: center;
        // gap: 10px;
        // position: relative;
        
    }
    &__item {
        
    }

    // .gallery__item-head

    &__item-head {
        color: #000;
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 16px;
        text-align: center;
        
    }

    // .gallery__one

    &__one {
        cursor: pointer;
        // position: relative;
        box-shadow: 0 0 5px #000;
        transition: 0.5s;
    }
    &__one:hover{
        // box-shadow: 0 0 20px #000;
        transition: 0.5s;
        transform: scale(0.9);
    }

    // .gallery__img

    &__img {
        // object-fit: cover;
        // width: 100%;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .gallery__item-more

    // &__item-more {
    //     position: absolute;
    //     bottom: 5%;
    //     left: 50%;
    //     transform: translate(-50%, 0);
    //     color: #fff;
    //     text-transform: uppercase;
    //     // border-radius: 20px;
    //     padding: 10px 20px;
    //     transition: all 0.5s;
    //     background-color: rgb(255, 255, 255, 0.5);
    // }
    // &__item-more:hover{
    //     background-color: #fff;
    //     color: #000;
    //     transition: all 0.5s;
    //     box-shadow: 0 0 10px #ffffff;
    // }
    &__arrow{
        
    }
}
.galleryList{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-columns: repeat(6, 1fr);
        align-items: flex-end;
        align-self: flex-end;
        padding-bottom: 60px;
        text-align: center;
        gap: 10px;
        position: relative;
}
.bottom-hide{
    bottom: 0%;
    opacity: 0;
}
.boxshadow{
    box-shadow: 0 0 20px 10px #000000;
}

.gallery {

    // .gallery__previews

    &__previews {
    }
}
.previews {

    // .previews__block

    &__block {
        // transform: scale(0);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    // .previews__item

    &__item {
    }
    &__img {
        object-fit: cover;
        width: 100%;
        
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #e7dacd;
    display: flex;
    justify-content: center;
    align-items: center;
}