.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    color: #000;
    width: 100%;
    background-color: #e7dacd;
    text-transform: uppercase;
    font-weight: 900;
    padding: 30px 0px;

    // .header__block

    &__block {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logoBlock


    // .header__navBlock

    &__navBlock {
    }

    // .header__nav

    &__nav {
    }

    // .header__list

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
    &__list a{
        display: inline-block;
        opacity: 0;
        animation: slideFORtop .5s ease forwards;
        animation-delay: calc(.2s * var(--i));
    }

    // .header__item

    &__item {
    }

    // .header__itemLink
    &__itemLink{
        padding: 10px;
        transition: all 0.5s;
        
    }
    &__itemLink:hover {
        transition: all 0.5s;
        
        background-color: #fff;
        color: #000;
    }

    // .header__contactsBlock

    &__contactsBlock {
        display: flex;
        align-items: center;
        gap: 10px;
        animation: slideFORright 1s ease forwards;
    }

    // .header__contactVK

    &__contactVK {
        display: flex;
        align-items: center;
        gap: 10px;
        
    }

    // .header__VKlink

    &__VKlink{
        
    }

    // .header__VKlogo

    &__VKlogo {
        
    }
    &__VKlink svg{
        width: 30px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid#000000;
        transition: 0.5s;
        color: #000;
    }
    &__VKlink svg:hover{
        background-color: #000000;
        color: #ffffff;
        transition: 0.5s;
    }

    // .header__contactInsta

    &__contactInsta {
        
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.header svg{
    width: 30px;
    height: 30px;
}
@keyframes slideFORtop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }    
}
@keyframes slideFORright{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }    
}