.blocks {

    // .blocks__reviews

    &__reviews {
    }
}

.reviews {

    // .reviews__header

    &__header {
        padding-top: 60px;
    }

    // .reviews__content

    &__content {
        color: #000;
        padding-top: 20px;
    }
}
.headerall {

    // .headerall__head

    &__head {
    }

    // .headerall__text

    &__text {
    }
}
