
@import '_header';
@import '_title';
@import '_exapmle';
@import '_service';
@import '_book';
@import '_footer';
@import '_about';
@import '_reviews';
@import '_gallery';

@font-face {
    font-family: Stolzl;
    src: url(../fonts/ofont.ru_Stolzl.ttf);
}
@font-face {
    font-family: ClassicaTwo;
    src: url(../fonts/Classica\ Two.ttf);
}
@font-face {
    font-family: KonkordRetro;
    src: url(../fonts/Konkord-Retro.ttf);
}
@font-face {
    font-family: scriptorama;
    src: url(../fonts/scriptorama.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color: transparent;scroll-behavior: smooth;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none; color:inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color: #e7dacd;
    color: #EFE7E2;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: 'Roboto Condensed';
    font-family: Stolzl;
    
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {

}
._cont{
    max-width: 1200px;
    margin: 0 auto;
}
.headerall {
    text-align: center;
    color: #000;
    // .headerall__head

    &__head {
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
    }

    // .headerall__text

    &__text {
        padding-top: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
    }
}
.blocks{
    padding: 100px 5px;
}
.hidden{
    top: -300px;
    transition: 1s;
}
.none{
    display: none;
}
.previewBlock{
    grid-template-columns: repeat(6, 1fr);
    
}
.previewItem{
    transform: scale(1);
}
@media (max-width: 780px){
    .header__navBlock{
        display: none;
    }
    .header__burger-icoblock{
        display: block;
    }
    .service__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__list{
        // grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(2, 1fr);
    }
    .blocks__head{
        font-size: 30px;
    }
    .example__buttonBlock{
        flex-direction: column;
        align-items: center;
    }
}